h1{
    text-align: center;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
    font-size: 30px;
    font-weight: 600;
}
a{
    margin-top: 60px;
    padding: 10px 5px;
    border: 1px solid transparent;
    background-color: aquamarine;
}
a:hover{
    background-color: transparent;
    border: 1px solid aquamarine;
}
